.book-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.book-grid .book {
    display: flex;
    max-width: 22vh;
    width: auto;
    flex-grow: 0;
    margin: 5px;
}

.book-grid .book img {
    width: 100%;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.loading-skeleton {
    width: 22vh !important;
    height: 28vh !important;
    margin: 5px;
}
